<dl class="dl-horizontal settings">
  <div ng-repeat="setting in Difficulty.currentSettings track by $index" ng-mouseover="show[$index] = true" ng-mouseleave="show[$index] = false" ng-init="show[$index] = false">
    <dt><span class="setting-name">{{setting.label}}:</span></dt>
    <dd>
      <span class="setting-value">{{setting.value}}</span>
      <span ng-show="show[$index] && !settings[$index]" ng-click="settings[$index] = !settings[$index]" class="btn btn-info glyphicon glyphicon-pencil edit-btn" aria-hidden="true"></span>
      <span ng-show="show[$index] && !settings[$index]" ng-click="Difficulty.removeSetting(setting)" class="btn btn-danger glyphicon glyphicon-remove remove-btn" aria-hidden="true"></span>
      <span ng-show="show[$index] && settings[$index]" ng-click="settings[$index] = !settings[$index]" class="btn btn-danger glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      <div class="form-group" ng-show="settings[$index]">
        <div class="row">
          <label for="editSettingName">Edit Setting Name</label>
          <input type="text" class="form-control editSettingName" ng-model="editSetting[$index].label" ng-init="editSetting[$index].label = setting.label">
        </div>
        <div class="row">
          <div class="input-group">
            <label for="editSettingName">Edit Setting Value</label>
            <input type="text" class="form-control editSettingValue" ng-model="editSetting[$index].value" ng-init="editSetting[$index].value = setting.value">
            <div class="input-group-btn">
              <a class="btn btn-primary confirm-edit" ng-click="Difficulty.updateSetting(setting.label, editSetting[$index]); settings[$index] = false">
                +<!-- <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> -->
              </a>
            </div>
          </div>
        </div>
      </div>
    </dd>
  </div>
</dl>
<a class="link btn btn-default add-link" id="addSetting" href="#" ng-click="Difficulty.toggleAddSetting()">add setting</a>
<a class="link btn btn-default default-link" id="makeDefault" href="#" ng-disabled="Difficulty.currentDifficulty.isDefault == true" ng-click="Difficulty.makeDefaultSettings()">set as default</a>
<a class="link btn btn-default remove-link" id="removeDifficulty" href="#" ng-disabled="Difficulty.currentDifficulty.isDefault == true" ng-click="Difficulty.removeDifficulty()">remove difficulty</a>
<div class="form-group" ng-show="Difficulty.addSettingFlag">
  <label for="newSettingName">New Setting Name</label>
  <input type="text" class="form-control" ng-model="setting.label" id="newSettingName">
  <label for="newSettingName">New Setting Value</label>
  <div class="input-group">
    <input type="text" class="form-control" ng-model="setting.value" id="newSettingValue">
    <div class="input-group-btn">
      <a class="btn btn-primary" id="confirmSetting" ng-click="Difficulty.addSetting(setting)">
        +<!-- <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> -->
      </a>
    </div>
  </div>
</div>
