.header {
  background-color: rgb(34, 44, 55);
  color: rgb(255, 255, 255);
  margin: 0;
}

.container {
  padding: 8px 8px 8px 8px;
}

body {
  margin: 0;
}

.logo {
  height: 50px;
  background-image: url(/images/logo_unity.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  font-weight: 100;
  font-size: xx-large;
  line-height: 50px;
}

.link {
  color: rgb(34, 44, 55);
  font: 16px/135% Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  &:hover {
    color: #00cccc;
  }
}

.unity-nav {
  .active > a {
    color: #ff0066;
    background-color: #00cccc !important;
  }
}

.remove-link {
  border-color: #d9534f;
}

.default-link {
  border-color: #5cb85c;
}

.add-link {
  border-color: #337ab7;
}

.setting-name {
  font-weight: 100;
  font-size: xx-large;
  line-height: 50px;
}

.setting-value {
  font-weight: 100;
  font-size: xx-large;
  line-height: 50px;

}
